body, h3{
	font-family: 微軟正黑體;
}

.footer{
	text-align: center;
}

.cursor-pointer{
    cursor: pointer;
}

.auto_selectbar{
	width: auto;
	margin-top: 0px;
	margin-right: 5px;
}

.login{
	width: 400px;
	margin: 0 auto;
	margin-bottom: 40px;
	
}

.download_icon{
	margin-right: 5px;
}